.input {
  font-size: inherit;
  color: inherit;
  width: 100%;
  margin: 0.5em 0;
  padding: 10px 4px;
  border: 1px solid #b2b2b2;
  outline: none;
  -webkit-box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.input:focus {
  border-color: #02b875;
  -webkit-box-shadow: 0 0 2px rgba(2, 184, 117, 0.4);
  -moz-box-shadow: 0 0 2px rgba(2, 184, 117, 0.4);
  box-shadow: 0 0 2px rgba(2, 184, 117, 0.4);
}

.label {
  font-size: inherit;
  color: inherit;
  display: block;
}
