.header {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1.5em;
  background-color: #f4f7f8;
}

.title {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin: 0 1em;
  font-size: 1.5em;
}

.links {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin: 0 1em;
}

.links > a {
  margin-left: 2em;
}
