.content {
  flex: 1;
}

.container {
  max-width: 50em;
  margin: 0 auto;
  text-align: center;
}

.row {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row; 
}
